.instruction-step {
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}

.instruction-step img {
  position: absolute;
  right: 90%;
  z-index: 2;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.instruction-step-text {
  background: rgba(142, 210, 201, 0.8);
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
  margin-left: 8%;
  padding: 20px;

  font-size: 24px;
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.5));
}
