.dateform {
  width: 500px;
}

.form-group {
  display: flex;
}

.dateform input {
  width: 200px;
  border: none;
  border-bottom: 1px solid red;
  border-radius: 0;
}

.dateform label {
  width: 150px;
}
