.dateform {
  width: 460px;
  text-align: right;
  padding: 20px;
  background-color: rgba(255,255,255,0.6);

  border-radius: 5px;
}

.form-group {
  display: flex;
  margin-bottom: 15px;
}

.dateform label {
  font-size: 36px;
  width: 20px;
  text-align: right;
  vertical-align: baseline;
  margin-right: 25px;
}

.dateform input {
  width: 370px;
  height: 43px;
  font-size: 36px;
  border: none;
  background: none;
  border-bottom: 2px dotted black;
  border-radius: 0;
  box-shadow: none;
}

.dateform input:focus {
  outline: none;
  border-bottom: 2px solid lightgreen;
  box-shadow: none;
}

.dateform button {
  width: 370px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.dateform button:hover {
  background-color: rgba(255, 255, 255, 1);
}
