.mainform {
  position: relative;
  padding: 20px;
  background-image: url('https://thumbs.gfycat.com/GregariousWelldocumentedGnat-size_restricted.gif');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mainform img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  filter: drop-shadow(5px 5px black);
}

.secondary {
  height: 400px;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .mainform img {
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
  }

  .mainform {
    padding: 0;
    background-image: url('http://i.imgur.com/qJ7VGoh.jpg');
  }
}
